.Header {
    background-color: #303035;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headerTitle {

    color: white;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    display: flex;
}

.headerVersion {

    margin-left: 5px;
    font-size: 12px;
    line-height: 33px;
}

.styleName {

    color: white;
    font-weight: bold;
    line-height: 30px;
    margin-right: 10px;
}